@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
}

/* Abaixo uma opção utilizando var (variáveis) para colocar cores ou fontes no documento css, com essa opção de colocar cores
você consegue mudar as cores ou fontes do site muito mais facilmente, mudando as cores ou fontes apenas do :root e todo site muda de cor */

:root{
   --cor0: #CCCCCC;
   --cor1: #808080;
   --cor2: #332E2E;
   --cor3: #29332C;
}

/* configuração global que vale para todos os elementos, para tirar a configuração global que já vem no arquivo HTML */

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
}

a.externo::after{
    content: '\00A0\1F517';
}

header{
    text-align: center;
    background-color: var(--cor1);
    min-height: 150px;
    border-radius: 10px;
    margin: 10px;
    padding-top: 40px;
}

header > h1{
    font-family: 'Palette Mosaic', cursive;
    font-weight: 100;
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
    text-shadow: 2px 4px 0px var(--cor2);
}

header > p{
    color: white;
    font-size: 18px;
    max-width: 500px;
    margin: auto;
    padding: 8px;
    text-shadow: 1px 1px 0px var(--cor3);
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px var(--cor3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
}

main h1{
    font-family: 'idroid', Times, serif;
    margin: 10px;
    padding: 4px 20px;
    font-size: 1.4em;
    text-shadow: 1px 1px 0px var(--cor0);
}

main h2{
    font-family: 'idroid', Times, serif;
    margin: 10px;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    padding: 4px 20px;
    font-size: 1.2em;
}

main p{
    text-align: justify;
    text-indent: 20px;
    margin: 10px;
    font-size: 1.1em;
    line-height: 1.8em;
}

main strong{    
    font-weight: 800;
    text-shadow: 1px 1px 0px var(--cor0);
}

main a{
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor0);
    padding: 1px 5px;
    border-radius: 5px;
}

main a:hover{
    text-decoration: underline;
    background-color: var(--cor2);
    color: var(--cor1);
}

main img{
    width: 100%;
}

.peq > img{
    max-width: 350px;
    display: block;
    margin: auto;
}

nav{
    text-align: left;
    padding: 10px;
    margin: 10px;
}

nav > a{    
    text-decoration: none;
    color: var(--cor0);
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    transition-duration: 600ms;
}

nav > a:hover{
    background-color: var(--cor3);
    text-decoration: underline;
    color: var(--cor1);
}

div.video{
    background-color: var(--cor0);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

section{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px var(--cor3);

}

section > h3{
    background-color: var(--cor2);
    color: var(--cor0);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

section > ul{
    list-style-type: '\1F5F8\00A0\00A0';  /* o código 00A0 serve para espaçar o símbolo */
    list-style-position: inside;
    columns: 2;
    
}

footer{
    background-color: var(--cor3);
    color: var(--cor0);
    text-align: center;
    padding: 2px;
    margin: 0px;
    border-radius: 3px;
    margin-bottom: 1px;
}